% my (%h) = @_;
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bailador - A Perl 6 web application developement</title>
  <link rel="icon" type="image/png" href="img/logo.png" />

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

    <header>

        <nav>
            <div class="nav-wrapper indigo">
                <a href="#" class="brand-logo"><img src="img/logo.png" alt="Bailador Logo" style="width:70px"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Ressources</a></li>
                    <li><a href="#">News</a></li>
                </ul>
            </div>
        </nav>

    </header>
